<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="com.tmobile.cso.vault.api" level="info" />
    <logger name="org.springframework.core " level="error" />
    <logger name="org.springframework.beans" level="error" />
    <logger name="org.springframework.context" level="error" />
    <logger name="org.springframework.transaction" level="debug" />
    <logger name="org.springframework.web" level="debug" />
    <logger name="org.springframework.test" level="error" />
    <logger name="org.springframework.boot.test" level="error"/>
    <logger name="org.springframework.mock" level="error"/>
    <logger name="org.springframework.data" level="error"/>
    <logger name="springfox.documentation" level="error"/>
    <logger name="org.thymeleaf" level="error"/>
    <logger name="org.hibernate" level="error" />
</configuration>